* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.row {
  width: 100%;
  overflow: hidden;
}

[class*="col-"] {
  float: left;
}
[class*="col-"] {
  width: 100%;
}

.title {
  background-color: aqua;
  padding: 10px 0px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.list-container ul li {
  width: 100%;
}

.list-container ul li a {
  display: block;
  width: 100%;
  padding: 14px 10px;
  background-color: rgb(0, 225, 255);

  text-decoration: none;
  color: #000;

  font-weight: 700;
}
.list-container ul li:nth-child(2) {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.page-info {
  background: linear-gradient(to bottom, rgb(0, 225, 255), white);
  padding: 15px;
}
.page-info p,
.page-info em {
  font-size: 18px;
}

.quote-container {
  background: linear-gradient(to bottom, rgb(0, 225, 255), white);
  padding: 0px 0px 30px 0px;
}

.plant-quote,
.animal-quote,
.landscape-quote {
  padding: 10px;
}

.image-container {
  height: 200px;
}

@media only screen and (max-width: 800px) {
  .plant-quote,
  .animal-quote,
  .landscape-quote {
    width: 100% !important;
  }
  p,
  em {
    font-size: 14px;
  }
  strong {
    font-size: 16px;
  }
}
