/* da bi domaci_1.html primio ovaj stil neophodno je napraviti
putanju ../Dodatak_uz_domaci/Dodatak_01/Dodatak_01.css
*/

body,
h1,
div h2,
body div,
div ol,
ul li,
a:visited,
div ~ p,
mark {
  background-color: darkblue;
  color: white;
}
img {
  border-color: inherit;
}
