span {
  display: inline-block;

  width: 400px;
  height: 20px;

  padding: 10px 0px 0px 10px;

  border: 1px solid green;

  margin: 0px 10px;
}
#prvi {
  background-color: lightblue;
}
#drugi {
  background-color: lightpink;
}
