* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("pizza.jpg");
  background-size: cover;
  height: 100px;

  position: relative;

  margin: 0;
}

div {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  margin: 0;

  position: absolute;

  /* gornji-levi */
  /* top: 0; */
  /* left: 0; */

  /*gornji-desni */
  /*  top: 0; */
  /* right: 0; */

  /* donji-levi */
  /* bottom: 0;
  left: 0; */

  /* donji-desni */
  /* bottom: 0;
  right: 0; */

  /* centriran */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
